!!!XHTML
%html
  %head
  %body
    %h1= app_name
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    %script{:src => rocketio_js}
    %script{:src => linda_js}
    %script{:src => "/index.js"}
  %div#log
