$font_black : #222;
$font_white : #FFF;

@mixin content-box {
  margin : 10px;
  font-size : 98%;
}

html {
  height: 100%;
}

body {
  @include content-box;
  background-color : #2F4DA0;
  color : $font_black;
  height: 100%;
}

#content {
  @include content-box;
  background-color : #FFFFFF;
  padding : 10px;
}

h1 {
  color : $font_white;
}

a, a:visited, a:hover {
  color : #4B7EC2;
}

input {
  font-size : 100%;
}

#watch {
  @include content-box;
  height : 400px;
  overflow : scroll;
}

#footer {
  text-align : right;
}
